.button {
  height: 3.25rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;

  transition: background 0.2s;
}

.button:hover {
  background: var(--blue);
}

.button:focus {
  background: var(--blue);
}